* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #a67b52; /* Color marrón del fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #fff; /* Color blanco para el cuadro */
    width: 450px;
    padding: 40px;
    height: 530px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del cuadro */
    text-align: center;
}

h1 {
    font-size: 32px; /* Aumentar tamaño de fuente del título */
    color: #6b5639; /* Color del título */
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
    color: #6b5639; /* Color de las etiquetas */
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: #6b5639; /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto de transición */
}

button:hover {
    background-color: #4f3c2a; /* Color del botón al pasar el ratón */
}

.containerspace {
    padding: 10px;
}

.button-link {
    display: inline-block; /* Para que se comporte como un botón */
    background-color: #6b5639; /* Mismo color de fondo que el botón */
    color: #fff; /* Mismo color de texto */
    padding: 10px 20px; /* Mismo padding */
    border-radius: 5px; /* Mismo border-radius */
    font-size: 18px; /* Mismo tamaño de fuente */
    text-decoration: none; /* Quitar subrayado */
    transition: background-color 0.3s ease; /* Efecto de transición */
    margin-top: 10px; /* Espaciado superior */
}

.button-link:hover {
    background-color: #4f3c2a; /* Mismo color en hover */
}
